Connected Services/FileCallee/FolderWatcher1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/codeunit/FolderWatcher" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/FolderWatcher" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/FolderWatcher" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="CreateFiles">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="fileName_Par" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="CreateFiles_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="Action_FolderWatcher">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="filePath_Par" type="string" />
            <element minOccurs="1" maxOccurs="1" name="fileName_Par" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="Action_FolderWatcher_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
    </schema>
  </types>
  <message name="CreateFiles">
    <part name="parameters" element="tns:CreateFiles" />
  </message>
  <message name="CreateFiles_Result">
    <part name="parameters" element="tns:CreateFiles_Result" />
  </message>
  <message name="Action_FolderWatcher">
    <part name="parameters" element="tns:Action_FolderWatcher" />
  </message>
  <message name="Action_FolderWatcher_Result">
    <part name="parameters" element="tns:Action_FolderWatcher_Result" />
  </message>
  <portType name="FolderWatcher_Port">
    <operation name="CreateFiles">
      <input name="CreateFiles" message="tns:CreateFiles" />
      <output name="CreateFiles_Result" message="tns:CreateFiles_Result" />
    </operation>
    <operation name="Action_FolderWatcher">
      <input name="Action_FolderWatcher" message="tns:Action_FolderWatcher" />
      <output name="Action_FolderWatcher_Result" message="tns:Action_FolderWatcher_Result" />
    </operation>
  </portType>
  <binding name="FolderWatcher_Binding" type="tns:FolderWatcher_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="CreateFiles">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/FolderWatcher:CreateFiles" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreateFiles">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreateFiles_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Action_FolderWatcher">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/FolderWatcher:Action_FolderWatcher" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Action_FolderWatcher">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Action_FolderWatcher_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="FolderWatcher">
    <port name="FolderWatcher_Port" binding="tns:FolderWatcher_Binding">
      <address location="http://nav.prentow.com:9047/NAV2019Live/WS/PS%20VN/Codeunit/FolderWatcher" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>